<div class="card bg-secondary shadow">
  <div class="card-header bg-white border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Cadastro de Usuário</h3>
      </div>
      <div class="col-4 text-right">
        <a href="#!" class="btn btn-sm btn-primary" routerLink="/lista">Lista de Usuários</a>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form>
      
      <!-- Dados -->
      <h6 class="heading-small text-muted mb-4">Dados<span class="text-red">*</span></h6>
      <div class="pl-lg-4">
        <div class="row">
          
          <!-- Nome -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >Nome</label
              >
              <input
                type="text"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="E-mail"
                value="Agnaldo Junior"
              />
            </div>
          </div>
          <!-- Final nome -->
          
          <!-- Empresa -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >Empresa</label
              >
              <input
                type="text"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="E-mail"
                value="Tião"
              />
            </div>
          </div>
          <!-- Final empresa -->

          <!-- RG -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >RG</label
              >
              <input
                type="text"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="E-mail"
                value="46.332.313-0"
              />
            </div>
          </div>
          <!-- Final RG -->

          <!-- CPF -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >CPF/CNPJ</label
              >
              <input
                type="text"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="E-mail"
                value="885.665.812-54"
              />
            </div>
          </div>
          <!-- Final CPF -->
           
          <!-- SEXO -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >SEXO</label
              >
              <input
                type="text"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="E-mail"
                value="Masculino"
              />
            </div>
          </div>
          <!-- Final SEXO -->
                    

           
          <!-- SEXO -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >Data de nascimento</label
              >
              <input
                type="text"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="E-mail"
                value="26/12/1965"
              />
            </div>
          </div>
          <!-- Final SEXO -->
                    

                    
          <!-- Telefone -->
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-telefone"
                >Telefone</label
              >
              <input
                type="text"
                id="input-telefone"
                class="form-control form-control-alternative"
                placeholder="Telefone"
                value="(47) 98862-1668"
              />
            </div>
          </div>
          <!-- Final telefone -->


          <!-- Telefone -->
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-telefone"
                >Telefone Secundario</label
              >
              <input
                type="text"
                id="input-telefone"
                class="form-control form-control-alternative"
                placeholder="Telefone"
                value="(47) 98862-1668"
              />
            </div>
          </div>
          <!-- Final telefone -->


          <!-- Email -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >Email</label
              >
              <input
                type="text"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="E-mail"
                value="lucas.presley.bnu@gmail.com"
              />
            </div>
          </div>
          <!-- Final email -->

        </div>
      </div>
      <hr class="my-4" />
      <!-- Final dados -->


      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Endereco<span class="text-red">*</span></h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-2">
            <div class="form-group">
              <label class="form-control-label" for="input-cep"
                >CEP</label
              >
              <input
                type="text"
                mask="000-00"
                id="input-cep"
                class="form-control form-control-alternative"
                placeholder="CEP"
                value="89010-160"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="input-logradouro"
                >Logradouro</label
              >
              <input
                id="input-logradouro"
                class="form-control form-control-alternative"
                placeholder="LOgradouro"
                value="Rua Doutor Amadeu da Luz"
                type="text"
              />
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-control-label" for="input-numero"
                >Numero</label
              >
              <input
                id="input-numero"
                class="form-control form-control-alternative"
                placeholder="Numero"
                value="222"
                type="number"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="input-complemento"
                >Complemento</label
              >
              <input
                id="input-complemento"
                class="form-control form-control-alternative"
                placeholder="Complemento"
                value="Apto 303"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-bairro">Bairro</label>
              <input
                type="text"
                id="input-bairro"
                class="form-control form-control-alternative"
                placeholder="Bairro"
                value="Centro"
              />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-cidade">Municipio</label>
              <input
                type="text"
                id="input-cidade"
                class="form-control form-control-alternative"
                placeholder="Cidade"
                value="Blumenau"
              />
            </div>
          </div>

          <!-- Pais -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-pais"
                >Pais</label
              >
              <input
                type="text"
                id="input-pais"
                class="form-control form-control-alternative"
                placeholder="Pais"
                value="Brasil"
              />
            </div>
          </div>
          <!-- Final Pais -->


          <!-- Estado -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-pais"
                >Estado</label
              >
              <input
                type="text"
                id="input-pais"
                class="form-control form-control-alternative"
                placeholder="SC"
                value="SC"
              />
            </div>
          </div>
          <!-- Final Estado -->

          
        </div>
      </div>

      <!-- Informações do sistema -->
      <h6 class="heading-small text-muted mb-4">Informações do sistema<span class="text-red">*</span></h6>
      <div class="pl-lg-4">
        <div class="row">

          <!-- Status Pessoa fisica -->
          <div class="col-lg-6 pl-3">
            <div class="form-group">
              <input 
                type="checkbox" 
                id="input-ativo"
                placeholder="Ativar/Desativar usuario"
              />&nbsp;
              <label class="form-control-label" for="input-ativo"
                >Cliente</label
              >
            </div>

          </div>
          <!-- Final Status Pessoa fisica-->

          <!-- Status Pessoa fisica -->
          <div class="col-lg-6 pl-3">
            <div class="form-group">
              <input 
                type="checkbox" 
                id="input-ativo"
                placeholder="Ativar/Desativar usuario"
              />&nbsp;
              <label class="form-control-label" for="input-ativo"
                >Pessoa Fisica</label
              >
            </div>

          </div>
          <!-- Final Status Pessoa fisica-->


          <!-- Status Pessoa fisica -->
          <div class="col-lg-6 pl-3">
            <div class="form-group">
              <input 
                type="checkbox" 
                id="input-ativo"
                placeholder="Ativar/Desativar usuario"
              />&nbsp;
              <label class="form-control-label" for="input-ativo"
                >Pessoa Juridica</label
              >
            </div>

          </div>
          <!-- Final Status Pessoa fisica-->
          
          <!-- Status Colaborador -->
          <div class="col-lg-6 pl-3">
            <div class="form-group">
              <input 
                type="checkbox" 
                id="input-ativo"
                placeholder="Ativar/Desativar usuario"
              />&nbsp;
              <label class="form-control-label" for="input-ativo"
                >Colaborador</label
              >
            </div>

          </div>
          <!-- Final Status Colaborador-->

          <!-- Status -->
          <div class="col-lg-6 pl-3">
            <div class="form-group">
              <input 
                type="checkbox" 
                id="input-ativo"
                placeholder="Ativar/Desativar usuario"
              />&nbsp;
              <label class="form-control-label" for="input-ativo"
                >Fornecedor</label
              >
            </div>

          </div>
          <!-- Final Status Fornecedor -->

          <div class="w-100 mt-4 pl-3">
            <button id="criar_usuario" class="btn btn-sm">Criar Pessoa</button>
          </div>
        </div>
        
      </div>
      <hr class="my-4" />
      <!-- Final Informações do sistema -->
      

      <!-- Login -->
      <h6 class="heading-small text-muted mb-4">Login</h6>
      <div class="pl-lg-4">
        <div class="row">

          <!-- Senha -->
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-senha"
                >Senha</label
              >
              <input
                type="password"
                id="input-senha"
                class="form-control form-control-alternative"
                placeholder="Senha"
                value="123456"
              />
            </div>
          </div>
          <!-- Final senha -->

          <!-- Pessoa/Proprietario -->
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-senha"
                >Proprietario<span class="text-red">*</span></label
              >
              <input
                type="text"
                id="input-senha"
                class="form-control form-control-alternative"
                placeholder="Senha"
                value="Agnaldo Junior"
              />
            </div>
          </div>
          <!-- Final Pessoa/Proprietario -->

          <!-- Nome -->
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username"
                >Nome de usuario</label
              >
              <input
                type="text"
                id="input-username"
                class="form-control form-control-alternative"
                placeholder="Username"
                value="suporte"
              />
              <p id="aviso">Para o nome de usuario insira apenas letras minusculas e numeros.</p>
            </div>
          </div>
          <!-- Final nome -->

          <!-- Papel -->
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-papel"
                >Papel</label
              >
              <input
                type="text"
                id="input-papel"
                class="form-control form-control-alternative"
                placeholder="Papel"
                value="Administrador"
              />
            </div>
          </div>
          <!-- Final papel -->

          <!-- Status -->
          <div class="col-lg-6 pl-3">
            <div class="form-group">
              <input 
                type="checkbox" 
                id="input-ativo"
                placeholder="Ativar/Desativar usuario"
                checked
              />&nbsp;
              <label class="form-control-label" for="input-ativo"
                >Ativo</label
              >
            </div>

          </div>
          <!-- Final Status -->
          <div class="w-100 mt-4 pl-3">
            <button id="criar_usuario" class="btn btn-sm">Criar usuario</button>
          </div>
        </div>
        
      </div>
      <hr class="my-4" />
      <!-- Fiinal login -->
      
    </form>
  </div>
</div>
