<div class="card bg-secondary shadow">
  <div class="card-header bg-white border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Cadastro de Usuário</h3>
      </div>
      <div class="col-4 text-right">
        <a href="#!" class="btn btn-sm btn-primary">Lista de Usuários</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form>
      <h6 class="heading-small text-muted mb-4">Login</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-chave"
                >Chave</label
              >
              <input
                type="text"
                id="input-chave"
                class="form-control form-control-alternative"
                placeholder="Chave"
                value="CH43Q"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-senha"
                >Senha</label
              >
              <input
                type="password"
                id="input-senha"
                class="form-control form-control-alternative"
                placeholder="Senha"
                value="123456"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username"
                >Nome Completo</label
              >
              <input
                type="text"
                id="input-username"
                class="form-control form-control-alternative"
                placeholder="Username"
                value="Lucas Teste"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-papel"
                >Papel</label
              >
              <input
                type="text"
                id="input-papel"
                class="form-control form-control-alternative"
                placeholder="Papel"
                value="Administrador"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input 
                type="checkbox" 
                id="input-ativo"
                placeholder="Ativar/Desativar usuario"
                checked
              />&nbsp;
              <label class="form-control-label" for="input-ativo"
                >Ativo</label
              >
            </div>
          </div>
        </div>
        
      </div>
      <hr class="my-4" />
      <!-- Contato -->
      <h6 class="heading-small text-muted mb-4">Contato</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-telefone"
                >Telefone</label
              >
              <input
                type="text"
                id="input-telefone"
                class="form-control form-control-alternative"
                placeholder="Telefone"
                value="(47) 98862-1668"
              />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-email"
                >Email</label
              >
              <input
                type="text"
                id="input-email"
                class="form-control form-control-alternative"
                placeholder="E-mail"
                value="lucas.presley.bnu@gmail.com"
              />
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Endereco</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-2">
            <div class="form-group">
              <label class="form-control-label" for="input-cep"
                >CEP</label
              >
              <input
                type="text"
                id="input-cep"
                class="form-control form-control-alternative"
                placeholder="CEP"
                value="89010-160"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="input-logradouro"
                >Logradouro</label
              >
              <input
                id="input-logradouro"
                class="form-control form-control-alternative"
                placeholder="LOgradouro"
                value="Rua Doutor Amadeu da Luz"
                type="text"
              />
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-control-label" for="input-numero"
                >Numero</label
              >
              <input
                id="input-numero"
                class="form-control form-control-alternative"
                placeholder="Numero"
                value="222"
                type="number"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="input-complemento"
                >Complemento</label
              >
              <input
                id="input-complemento"
                class="form-control form-control-alternative"
                placeholder="Complemento"
                value="Apto 303"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-bairro">Bairro</label>
              <input
                type="text"
                id="input-bairro"
                class="form-control form-control-alternative"
                placeholder="Bairro"
                value="Centro"
              />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-cidade">Cidade</label>
              <input
                type="text"
                id="input-cidade"
                class="form-control form-control-alternative"
                placeholder="Cidade"
                value="Blumenau"
              />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-pais"
                >Pais</label
              >
              <input
                type="text"
                id="input-pais"
                class="form-control form-control-alternative"
                placeholder="Pais"
                value="Brasil"
              />
            </div>
          </div>
          
        </div>
      </div>
    </form>
  </div>
</div>
